useDynLib(immunoClust)

import(methods)


importFrom(stats, density, mahalanobis, qt, quantile, sd, qchisq)
importFrom(graphics, plot, pairs, points, hist, title, axis, mtext, legend)

importFrom(grid, get.gpar, grid.points, current.viewport)
importFrom(lattice, panel.points, splom, diag.panel.splom)
importFrom(grDevices, dev.off, png)

importClassesFrom(flowCore, flowFrame)
importMethodsFrom(flowCore, exprs, "exprs<-", description, "description<-", 
    parameters, colnames, spillover)
importFrom(flowCore, "read.FCS")

## export anything w/out a dot in front. 
exportPattern("^[^\\.]")

exportClasses(immunoClust)
## exportClasses(immunoMeta)
exportMethods(show, summary, plot, splom)

S3method("prop", "immunoMeta")
S3method("prop<-", "immunoMeta")
S3method("desc<-", "immunoMeta")
S3method("addLevel<-", "immunoMeta")
S3method("finalize", "immunoMeta")
S3method("level", "immunoMeta")
S3method("level<-", "immunoMeta")
S3method("move<-", "immunoMeta")
S3method("parent<-", "immunoMeta")
S3method("remove<-", "immunoMeta")
S3method("transfer<-", "immunoMeta")
S3method("show", "immunoMeta")
S3method("summary", "immunoMeta")
S3method("plot", "immunoMeta")

